<div id="<%= dom_id fruit %>">
  <p>
    <strong>Name:</strong>
    <%= fruit.name %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= fruit.item %>
  </p>

  <p>
    <strong>Best:</strong>
    <%= fruit.best %>
  </p>

</div>
